# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled executables
unit-test-runner

# Editor backup files
*~

# Dynamically retrieved googletest git repository
googletest